{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "spaced-comment": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "no-use-before-define": 0,
    "consistent-return": 0,
    "eqeqeq": ["error", "allow-null"],
    "max-len": 0,
    "brace-style": ["error", "stroustrup"],
    "new-cap": 0
  },
  "plugins": [
    "react"
  ]
}
