@import "~material-colors/dist/colors.scss";

.base {
  width: 800px;
  color: $md-white;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.4rem;

  button {
    margin-right: 0.8rem;
  }
}

.mainView {
  padding: 0.2rem;
}

.testFleet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  padding: 0.2rem;
}

.testShip {
  width: 50%;
  padding: 0 0.25rem 0.25rem;
  //border: solid 1px #f00;
}

.title {
  //border: solid 1px #f00;
  display: flex;
  justify-content: space-between;
}

