@import "~material-colors/dist/colors.scss";

.base {
  width: 800px;
}

.column {
  width: 800px;
  color: $md-white;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.4rem;

  button {
    margin-right: 0.8rem;
  }
}

.mainView {
  padding: 0.2rem;
}

.testFleet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  padding: 0.2rem;
}

.testShip {
  width: 50%;
  padding: 0 0.25rem 0.25rem;
  //border: solid 1px #f00;
}

.title {
  //border: solid 1px #f00;
  display: flex;
  justify-content: space-between;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.5rem;
}

.resource {
  width: 50%;
  display: flex;
  align-items: center;
}

.resourceKey,
.resourceValue {
  padding: 0 0.2rem;
}

.resourceKey {
  width: 50%;
  text-align: right;
  text-overflow: ellipsis;
  font-size: 0.9em;
  overflow: hidden;
}

.resourceValue {
  width: 50%;
  font-weight: bold;
}

.fleet {
}

.fleetInfo {
  padding-left: 0.5rem;
}

.fleetShips {
  display: flex;
  flex-wrap: wrap;
}

.fleetShip {
  width: 50%;
  padding: 0 0.25rem;
}

.shipTitle {
  display: flex;

  > div {
    width: 50%;
  }
}

.shipName,
.shipLevel {
  font-size: 1.2em;
}

.shipName {
}

.shipLevel {
  text-align: right;
  font-weight: bold;
}

.shipBars {
  //border: solid 1px #f00;
}