@import "~material-colors/dist/colors.scss";

.ship {
  width: 50%;
  padding: 0 0.25rem;
}

.shipTitle {
  display: flex;
  align-items: center;

  > div {
    //width: 50%;
  }
}

.shipName,
.shipLevel {
  font-size: 1.2em;
}

.shipMorale {
  text-align: center;
}

.shipName {
}

.shipLevel {
  text-align: right;
  font-weight: bold;
}

.shipBars {
  //border: solid 1px #f00;
}

.shipMoraleIndicator {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: $md-amber-400;
}
