@import "~material-colors/dist/colors.scss";
@import "../../assets/styles/variables";

$button-border-radius: 0rem;
$color: $primary-color;

.button {
  background: $md-pink-a400;
  border: solid 0.15rem $md-pink-a400;
  // border-radius: $button-border-radius;
  color: $md-white;
  font-family: $base-font-family;
  font-weight: 500;
  padding: 0.4rem 1rem;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}


