@import "~material-colors/dist/colors.scss";
@import "../../assets/styles/variables";

$color: $primary-color;

.column {
  padding-left: $bar-horizontal-space;
  border: solid 1px #f00;
  padding-right: $bar-horizontal-space;
}
