@import "~material-colors/dist/colors.scss";
@import "../../assets/styles/variables";

$color: transparentize($md-green-a400, 0.88);
$border-radius: 0.1rem;

.progress {
  width: 100%;
  margin-bottom: 0.15rem;
}

.bar {
  background-color: $md-green-a400;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 600;
  height: 1rem;
  margin-bottom: 0.2rem;

  &.small {
    height: 0.5rem;
  }

  &.normal {
    height: 1.5rem;
  }

  &.large {
    height: 3rem;
  }
}

.label {
  text-align: center;
  font-size: 0.8rem;
}
