@import "~material-colors/dist/colors.scss";
@import "../../assets/styles/variables";

$color: transparentize($md-green-a400, 0.88);

.base {
  border: solid 0.2rem $color;
  border-radius: 0.3rem;
  padding: 1px;
}

.bar {
  background-color: $md-green-a400;
  height: 1.5rem;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 600;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.4);
}

.label {
  text-align: center;
  font-size: 0.8rem;
}
