@import '../../assets/styles/variables';

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: dashed 0.1rem #f00;
}

.verticalAlign {
  &-top {
    align-items: flex-start;
  }

  &-bottom {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
  }
}

.disableWrap {
  flex-wrap: nowrap;
}
